# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Build output
*.apk
*.aab
*.ipa

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.suo
*.user
